{% extends "Institucion/base.html" %}
{% load static %}
{% load mathfilters %}
{% load concat_Grado2 %}
{% load concat_Seccion2 %}
{% load concat_Foto %}
{% load static %}
{% block content %}

<section class="title">
    <h1>Consulta de Estudiantes</h1>
</section>
<section class="container">
  <section class="row_1">
    <section class="_princ_ conform">
      <article>
          <form class="form" action="" method="post" >{% csrf_token %}
                <!--<input  type="text" name="buscar_seccion" value="" placeholder="Sección">-->
                <label for="buscar_seccion" id="buscar_seccion" ><p style="padding-top: 10px;">Seccion: </p></label> 
                <select name="buscar_seccion" id="buscar_seccion" style="width: 10%; height: 20%; margin-top: 5.5px;">
                    <option value="0">Ninguno</option>
                    <option value="1">A</option>
                    <option value="2">B</option>
                    <option value="3">C</option>
                    <option value="4">D</option>
                    <option value="5">E</option>
                    <option value="6">F</option>
                    <option value="7">G</option>
                    <option value="8">H</option>
                </select>
                <input type="submit" value="Consultar">
          </form>
        </article>
       <article class="data">
                <h2 class="title">Listado de Estudiantes</h2>

        {%if Filtro == 'noMatch'%}
            <p>NO HAY RESULTADOS</p>
        {% endif %}


        {%if Filtro != 'noMatch'%}
                {% for estudiantes in estudiantes %}        
                  <section class='prueba'>
                          <article class="photo">
                              <img src="{{ estudiantes.foto|concat_Foto }}">
                          </article>
                          <article>
                              <div class="name">
                                  <span>
                                      {{estudiantes.nombres}}
                                      {{estudiantes.apellidos}}
                                  </span>
                              </div>
                              <div class="DataSecond fontSecond">
                                <span>Cédula: {{estudiantes.cedula}}</span>
                                <span>Grado:
                                    {{ estudiantes.grado|concat_Grado2 }} 
                                </span>

                                <span>Sección: 
                                    {{ estudiantes.seccion|concat_Seccion2 }} 
                                </span>
                              </div>
                          </article>
                          <article class="fontSecond">
                            <div class="options">
                                <span>
                                    <a href="{% url 'Ver_Es' estudiantes.id %}">
                                        <div class="imgOptions look" title="Ver"></div>
                                    </a>
                                </span>
                                {% if request.user.is_PA == True %}
                                    <span>
                                        <a href="{% url 'Actualizar_Es' estudiantes.id %}">
                                            <div class="imgOptions update" title="Actualizar"></div>
                                        </a>
                                    </span>
                                    <span>
                                        <a href="{% url 'Eliminar_Es' estudiantes.id %}">
                                            <div class="imgOptions delete" title="Eliminar"></div>
                                        </a>
                                    </span>
                                {% endif %}
                            </div>
                            <div>
                                <div>Nacimiento:</div>
                                <span>{{estudiantes.fecha_nac}}</span>
                            </div>
                          </article>
                  </section>
                {% endfor %}
            </article>
        {% endif %}

    </section>
  </section>
  <aside class="row_2">
        <h3 class="title">Filtros de Búsqueda</h3>
        <ul class="filter">
            <li><a href="{% url 'C_nombres' %}" >Nombre</a></li>
            <li><a href="{% url 'C_apellidos' %}" >Apellido</a></li>
            <li><a href="{% url 'C_grados' %}" >Grado</a></li>
            <li><a href="{% url 'C_secciones' %}" >Seccion</a></li>
        </ul>
    </aside>
</section>

{% endblock content %}