{% extends "Institucion/base.html" %}
{% load static %}

{% block content %}

<section class="title">
    <h1>Consulta de Estudiantes</h1>
</section>
<section class="container">
  <section class="row_1">
    <section class="_princ_ conform">
      <article>
          <form class="form" action="" method="post" >{% csrf_token %}
                <input type="text" name="buscar_seccion" value="" placeholder="Sección">
                <input type="submit" value="Consultar">
          </form>
        </article>
       <article class="data">
                <h2 class="title">Listado de Estudiantes</h2>
                {% for estudiantes in estudiantes %}        
                  <section class='prueba'>
                          <article class="photo">
                              <img src="{{ estudiantes.foto.url }}">
                          </article>
                          <article>
                              <div class="name">
                                  <span>
                                      {{estudiantes.nombres}}
                                      {{estudiantes.apellidos}}
                                  </span>
                              </div>
                              <div class="DataSecond fontSecond">
                                  <span>Cédula: {{estudiantes.cedula}}</span>
                                  <span>Grado: {{estudiantes.grado}}</span>
                                  <span>Sección: {{estudiantes.seccion}}</span>
                              </div>
                          </article>
                          <article class="fontSecond">
                              <div class="options">
                                  <span>
                                      <a href="{% url 'Actualizar_Es' estudiantes.id %}">
                                          <div class="imgOptions update" title="Actualizar"></div>
                                      </a>
                                  </span>
                                  <span>
                                      <a href="{% url 'Ver_Es' estudiantes.id %}">
                                          <div class="imgOptions look" title="Ver"></div>
                                      </a>
                                  </span>
                                  <span>
                                      <a href="{% url 'Eliminar_Es' estudiantes.id %}">
                                          <div class="imgOptions delete" title="Eliminar"></div>
                                      </a>
                                  </span>
                              </div>
                              <div>
                                  <div>Nacimiento:</div>
                                  <span>{{estudiantes.fecha_nac}}</span>
                              </div>
                          </article>
                  </section>
                {% endfor %}
            </article>
    <!--    {% if "Buscar" in request.POST%}

          <h1>Resultados de la Busqueda</h1>

          <table>
              <thead>
                  <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Grado</th>
                    <th>Seccion</th>
                    <th style="border-right: none;">Opciones</th>
                  </tr>
              </thead>   

              <tbody>

                  {% for estudiantes in estudiantes %}

                      <tr>
                          <td>{{estudiantes.nombres}}</td>
                          <td>{{estudiantes.apellidos}}</td>
                          <td>{{estudiantes.grado}}</td>
                          <td>{{estudiantes.seccion}}</td>
                          <td><a href="{% url 'Actualizar_Es' estudiantes.id %}"><bottun>Actualizar</bottun></a><a href="{% url 'Eliminar_Es' estudiantes.id %}"><bottun>Eliminar</bottun></a></td>
                      </tr>
                  {% endfor %}
              </tbody>  
          </table>
      {% endif %} -->
   
    </section>
  </section>
  <aside class="row_2">
        <h3 class="title">Filtros de Búsqueda</h3>
        <ul class="filter">
            <li><a href="{% url 'C_nombres' %}" >Nombre</a></li>
            <li><a href="{% url 'C_apellidos' %}" >Apellido</a></li>
            <li><a href="{% url 'C_grados' %}" >Grado</a></li>
            <li><a href="{% url 'C_secciones' %}" >Seccion</a></li>
        </ul>
    </aside>
</section>

{% endblock content %}