{% extends "Institucion/base.html" %}
{% load static %}

{% block content %}

<section class="title">    
    <h1>Actualiza un Nuevo Documento</h1>
</section>

    {%  if  "valido" in request.GET %}
        <p style="margin: 5px 22%; color: white;">Documento Actualizado Correctamente</p>
    {% endif %}
<section class="container">
    <section class="row_1">
        <section class="_princ_ sectionPrincDocuments">
            <form method="post" action="" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
                <section>
                    <div id="" class="wrapper  ">
                        <label>Nombre Documento</label>     
                        {{ form.Nombre_Documento }}
                    </div>
                    <div id="" class="wrapper">
                        <label>Documento</label>     
                        {{ form.Documento }}
                    </div>
                    <div id="" class="wrapper ">
                        <label>Tipo</label>     
                        {{ form.Tipo }}
                    </div>
                    <div id="" class="wrapper ">
                        <label>Formato</label>     
                        {{ form.Formato }}
                    </div>
                </section>
                <section class="containerAside">
                    <aside class="wrapper">
                        <button class="button_button button_Docs" type="submit">Actualizar Registro</button>
                        <a class="button_button button_Docs" href="{% url 'ConsultaD' %}">Consultar Documentos</a>
                    </aside>
                </section>
            </form>
        </section>
    </section>
</section>

{% endblock content %}