{% extends "Institucion/base.html" %}
{% load static %}

{% block content %}


<section class="title">
    <h1 class="title">Notas Registrados</h1>
</section>


{% if messages %}
  {% for message in messages %}
      <div class="notification {{message.tags}}">
          {{ message }}
      </div>

  {% endfor %}
{% endif %}

<section class="container">
    <section class="row_1">
        <section class="_princ_ sectionPrincDocuments">
            <section>
                <form class="form" action="" method="post" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
                    <input type="text" name="buscar_grado" value="" placeholder="Grado">
                    <input type="text" name="buscar_seccion" value="" placeholder="Sección">
                    <input  type="submit" value="Consultar" name="Buscar">
                </form>
                <section class="data">
                    {% for notas in notas %}
                        <section class="prueba ContainerData">
                            <article class="fontSecond">
                                <div class="DataSecond">
                                    <span>Nombre:
                                        {{notas.Documento}}
                                    </span>
                                </div>
                                <div class="DataSecond">
                                    <span>Grado:
                                        {{notas.Grado}}
                                    </span>
                                    <span>Sección:        
                                        {{notas.Seccion}}    
                                    </span> 
                                </div>
                            </article>
                            <article class="fontSecond">
                                <!-- {% if request.user.is_PD == True %} -->
                                    <article class="options">
                                        <span>
                                            <a href="{% url 'Actualizar_Notas' notas.id %}" >
                                                <div class="imgOptions update" title="Actualizar"></div>
                                            </a>
                                        </span>
                                        <span>
                                            <a href="{% url 'Eliminar_Notas' notas.id %}">
                                            <div class="imgOptions delete" title="eliminar"></div>
                                            </a>
                                        </span>
                                    </article>
                                <!-- {% endif %} -->
                            </article>
                        </section>
                    {% endfor %}
                </section>
            </section>
            <section class="containerAside">
                <aside class="wrapper wrapperSpecial">
                    <a class="button_button button_Docs" href="{% url 'Notas' %}">subir una Nueva Planilla<a>
                </aside>
            </section>
        </section>
    </section>
</section>


{% endblock content %}