{% extends "Institucion/base.html" %}
{% load static %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class=" h {{message.tags}}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{%  if  "valido" in request.GET %}
    <div class=" notification h">
        <div>
            <p class="Reg_correcto">Planilla de Notas Subida Correctamente</p>

        </div>
        <div>
            <a href="{% url 'ConsultaN' %}">
                <button class="button_PA" type="button" value="">CONTINUAR</button>
            </a>
        </div>
    </div>
{% endif %}

<!-- {%if result == 'noMatch'%} -->
    <div class="conform">
        <p>POR FAVOR ACTUALIZA TUS DATOS DE PERFIL PRIMERO, ANTES DE INICIAR CUALQUIER REGISTRO</p>
        <P>Dale click <a href="{% url 'Actualizar_PD' request.user.id %}"><bottun>aquí</bottun><a> para actualizar</P>
    </div>
<!-- {% endif %} -->



{%if result != 'noMatch'%}
    <section class="container">
        <section class="row_1">
            <section class="_princ_ sectionPrincDocuments">
                <form method="post" action="" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
                    <section>
                        <label for="PD_Notes" style="visibility:hidden">Usuario</label>
                        <select name="PD_Notes" required id="id_PD_Notes" style="visibility:hidden">
                          <option value="{{pdProfile.id}}"></option>
                        </select>
                        <label for="Nombre_Notas" style="visibility:hidden">Nombre</label>     
                        <input type="text" name="Nombre_Notas" maxlength="30" required id="id_Nombre_Notas" value="Planilla de Notas", style="visibility:hidden">              
                        <div class="wrapper">
                            <label>Grado</label>     
                            {{ form.Grado }}
                        </div>
                        <div class="wrapper">
                            <label>Seccion</label>
                            {{ form.Seccion }}
                        </div>
                        <div class="wrapper">
                            <label>Momento</label>
                            {{ form.Momento }}
                        </div>
                        <div class="wrapper">
                            <label>Documento</label>
                            {{ form.Documento }}
                        </div>
                    </section>
                    <section class="containerAside">
                        <aside class="wrapper">
                            <button class="button_button button_Docs" type="submit">Subir Planilla de Notas</button>
                                <a class="button_button button_Docs" href="{% url 'ConsultaN' %}">Consultar Planillas de Notas Registradas</a>
                        <!-- <button class="button_button">Subir Planilla de Notas</button> -->
                        </aside>
                    </section>
                </form>
                
            </section>
        </section>
    </section>
{% endif %}
{% endblock content %}

