{% extends "Institucion/base.html" %}
{% load static %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="notification {{message.tags}}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{%  if  "valido" in request.GET %}
    <p class="Reg_correcto">Planilla de Notas Subida Correctamente</p>
    <a href="{% url 'ConsultaN' %}">
        <button class="button_PA" type="button" value="">CONTINUAR</button>
    </a>
{% endif %}

<section class="title">
    <h1>Sube una Nueva Plantilla de Notas</h1>
</section>

<section class="container">
    <section class="row_1">
        <section class="_princ_ sectionPrincDocuments">
            <form method="post" action="" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
                <section>
                    <div class="wrapper">
                        <label>Grado</label>     
                        {{ form.Grado }}
                    </div>
                    <div class="wrapper">
                        <label>Seccion</label>
                        {{ form.Seccion }}
                    </div>
                    <div class="wrapper">
                        <label>Documento</label>
                        {{ form.Documento }}
                    </div>
                </section>
                <section class="containerAside">
                    <aside class="wrapper">
                        <button class="button_button button_Docs" type="submit">Subir Archivo</button>
                            <a class="button_button button_Docs" href="{% url 'ConsultaD' %}">Consultar Archivos</a>
                    <!-- <button class="button_button">Subir Planilla de Notas</button> -->
                    </aside>
                </section>
            </form>
            
        </section>
    </section>
</section>

    
    
    
</div>
<div class="text_gest">
  <p>
    Dale click  para Consultar las Planillas de Notas Registrados 
    <br>
    <br>
    <a id="nino" href="{% url 'ConsultaN' %}">Aquí</a>
  </p>
</div>
</article>

{% endblock content %}

