{% extends "Institucion/base.html" %}
{% load static %}

{% block content %}

<section class="title">
	<h1>Actualizar Datos de Perfil (Usuario: {{ request.user.username }})</h1>
</section>

<!-- button_PA -->
{%  if  "valido" in request.GET %}
<div class="notification">
	<div>
		<h3>Datos Actualizados Correctamente, por favor dale click en continuar</h3>
	</div>
	<div>
		<a href="{% url 'Home' %}"><button class="button_PA" type="button" value="">CONTINUAR</button></a>
	</div>
</div>
{% endif %}

<section class="container">
		<section class="_princ_ conform">
			<form class="formulario" action="" method="post" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
				<section class="row">
					<article class="cont">
						<article>
							<div class="photo">
								<label for="foto">Foto Actual:</label>
								<img src="{{ pa.foto.url }}">
							</div>
							<div>
								<label for="{{ form.foto.id_for_label }}">Modificar Foto: </label><input id="{{ form.foto.id_for_label }}" type="file" name="{{ form.foto.name }}" accept="image/*" >
							</div>
							<label for="usuario" style="visibility:hidden">Usuario</label>
							<select name="usuario" required id="id_usuario" style="visibility:hidden">
								<option value="{{request.user.id}}">El usuario es {{request.user.username}} y su correo {{request.user.email}}</option>
							</select>
				            <div class="form">
				                <label for="cargo">Cargo</label>
				                {{ form.cargo }}
				            </div>
						</article>
					</article>
					<article class="cont">
						<article>
				          	<div class="form">
				                <label for="nombre">Nombre</label>
				                {{ form.nombres }}
				            </div>
				            <div class="form">
				                <label for="apellido">Apellido</label>
				                {{ form.apellidos }}
				            </div>
				            <div class="form">
				                <label for="cedula">Cedula</label>
				                {{ form.cedula }}
				            </div class="form">
				            <div class="form">
				                <label for="edad">Edad</label>
				                {{ form.edad }}
				            </div>
						</article>
					</article>
					
				</section>
				<article class="row lineUp">
					<article class="cont">
						<article>
				            <div class="form">
				                <label for="direccion">Direccion</label>
				                {{ form.direccion }}
				            </div> 
				            <div class="form">
				                <label for="teln_casa">Telefono Casa</label>
				                {{ form.teln_Casa }}
				            </div>
				            <div class="form">
				                <label for="teln_movil">Telefono Movil</label>
				                {{ form.teln_movil }}
				            </div>
				            <div class="form">
								<label for="email">Correo Electronico</label>
								{{ form2.email }}
				            </div>
						</article>
					</article>
				</article>
		        <article class="wrapper">
		        	<button class="button_Regis_PA" type="submit" value="">Actualizar</button>
		        </article>
		    </form>
		</section>
</section>
{% endblock content %}