{% extends "Institucion/base.html" %}
{% load static %}
{% load concat_Foto %}
{% block content %}

<section class="title">
    <h1>Consulta de Personal Administrativo</h1>
</section>
<section class="container">
    <section class="row_1">
        <article class="_princ_ conform">
            <form class="form" action="" method="post">{% csrf_token %}
                <input  type="text" name="buscar_cargo" value="" placeholder="Cargo">
                <input type="submit" value="Consultar">
            </form>
            <article class="data">
                <h2 class="title">Listado del Personal Administrativo</h2>
                {% for PA in PA %}        
                <section class="prueba">
                    <article class="photo">
                        <img src="{{ PA.foto|concat_Foto }}">
                    </article>
                    <article>
                        <div class="name">
                            <span>
                                {{PA.nombres}}
                                {{PA.apellidos}}
                            </span>
                        </div>
                        <div class="DataSecond fontSecond">
                            <span>Cédula: {{PA.cedula}}</span>
                            <span>Cargo: {{PA.cargo}}</span>
                        </div>
                    </article>
                    <article class="fontSecond">
                        <div class="options">
                            <span>
                                <a href="{% url 'Ver_PA' PA.id %}">
                                    <div class="imgOptions look"></div>
                                </a>
                            </span>
                        </div>
                        <div>
                            <div>
                                <span>Teléfonos:</span>
                            </div>
                            <div>
                                <ul>
                                    <li>{{ PA.teln_Casa }}</li>
                                    <li>{{ PA.teln_movil }}</li>
                                </ul>
                            </div>
                        </div>
                    </article>
                </section>
                {% endfor %}
            </article>
        </article>
    </section>
    <aside class="row_2">
        <h3 class="title">Filtros de Búsqueda</h3>
        <ul class="filter">
          <li><a href="{% url 'C_nombres_pa' %}"    >Nombre</a></li>
          <li><a href="{% url 'C_apellidos_pa' %}"  >Apellido</a></li>
          <li><a href="{% url 'C_cedula_pa' %}"     >Cédula</a></li>
          <li><a href="{% url 'C_cargo_pa' %}"      >Cargo</a></li>
        </ul>
    </aside>
</section>


{% endblock content %}