{% load static %}

    <!-- <link href="{% static 'General/css/login.css' %}" rel="stylesheet"> -->
    <link href="{% static 'General/css/base.css' %}" rel="stylesheet">
    <link href="{% static 'General/css/register.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">

{% if messages %}
  {% for message in messages %}
      <div class="notification {{message.tags}}">
          {{ message }}
      </div>

  {% endfor %}
{% endif %}

<div id="wrapper">
    <article class="row_1">
      <h1 id="lol">Registro de Personal Administrativo</h1>
      <section class="form_wrapper">
        <form action="" method="post">
          {% csrf_token %}

          <table style="color: white; margin: 20px auto;">
            <div class="form_regist">
              <label>Nombre de usuario</label>
              <br>
              {{ form.username }}
            </div>
            <div class="form_regist">
              <label>Email</label>
              {{ form.email }}
            </div>
            <div class="form_regist"><label>Contraseña</label>
              {{ form.password1 }}
            </div>
            <div class="form_regist">
              <label>Confirma Contraseña</label>
              {{ form.password2 }}
            </div>
            <div class="form_regist">
              <label></label>
              <input type="hidden" id="is_PA" name="is_PA" value="True"/>
              <input type="hidden" id="is_PD" name="is_PD" value="False"/>
            </div>
          </table>

          <div id="button_regist">
             <button class="button_regist" type="submit" id="submit">Registarse</button>
              <button class="button_regist" type="button">
                <a href="{% url 'login' %}" >Iniciar Sesión</a>
              </button>
          </div>
        </form>
      </section>
    </article>
     
    <article class="row_2">
        <img src="../../static/General/img/registro/administrativo.png" alt="fondo">
        
    </article>
</div></
</div>

