{% extends "Institucion/base.html" %}
{% load static %}

{% block content %}

<section>
    <article class="title">
        <h1>Registro de Representante</h1>
    </article>
    <article class="conform">
        {%  if  "valido" in request.GET %}
            <div class="notification">
                <div>
                    <p id="repre">Representante Registrado Correctamente, por favor ingresa</p>
                </div>
                <div>
                    <a href="../../login">
                        <button class="button_PA" type="button" value="">aquí</button>
                    </a>
                </div>
            </div>
        {% endif %}
        <form class="formulario" action="" method="post" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
            <section class="field">
                <article class="wrapper">
                    <article class="left">
                        <div class="fieldFoto">
                            <label for="foto">Foto</label>
                            {{ form.foto }}
                        </div>
                    </article>
                    <article class="right">
                        <div>
                            <label>Nombres</label>
                            {{ form.nombres }}
                        </div>
                        <div>
                            <label for="apellido">Apellidos</label>
                            {{ form.apellidos }}
                        </div>
                    </article>
                </article>

                <article class="wrapper">
                    
                    <article class="left">
                        <h3>Datos Personales</h3>
                        
                        <div>
                            <label for="edad">Edad</label>
                            {{ form.edad }}
                        </div> 
                        <div>
                            <label for="cedula">Cedula</label>
                            {{ form.cedula }}
                        </div>
                        <div>
                            <label for="direccion">Direccion</label>
                            {{ form.direccion }}
                        </div> 
                    </article>

                    <article class="right">
                        <h3>Contacto</h3>

                        <div>
                            <label for="teln_casa">Telefono Casa</label>
                            {{ form.teln_Casa }}
                        </div>
                        <div>
                            <label for="teln_movil">Telefono Movil</label>
                            {{ form.teln_movil }}
                        </div>
                        <div>
                            <label for="email">Correo Electronico</label>
                            {{ form.email }}
                        </div>
                    </article>
                </article>
                <article class="button_form wrapper">
                    <input class="SigButton" type="submit" value="Siguiente">
                </article>
            </section>
            <aside id="id" class="wrapper">
                <h2>¿Ya Registraste un Representante?</h2>
                <br><br>
                <a href="{% url 'Registro_Es' %}"><button class="button_button" type="button">Click Aquí</button></a>
            </aside>
        </form>
    </article>
</section>

{% endblock content %}