{% extends "Institucion/base.html" %}
{% load static %}

{% block content %}
<section>
    <article class="title">
        <h1>Registro de Estudiantes</h1>
    </article>
    <section class="conform">
        {%  if  "valido" in request.GET %}
            <h3 class="Reg_correcto">Estudiante Registrado Correctamente, por favor dale click en continuar</h3>
            <a href="{% url 'Consulta_Es' %}"><button class="button_PA" type="button" value="">CONTINUAR</button></a>
        {% endif %}

        <form class="formulario" action="" method="post" {% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>{% csrf_token %}
            <section>
                <!-- nombres -->
                <article class="wrapper">
                    <article class="left">
                        <div class="foto fieldFoto">
                            <label for="foto">Foto</label>
                            {{ form.foto }}
                        </div>
                    </article>
                    <article class="rigth">
                        <div class="form">
                            <label>Nombres</label>
                            {{ form.nombres }}
                        </div>
                        <div class="form">
                            <label for="apellido">Apellidos</label>
                            {{ form.apellidos }}
                        </div>
                    </article>
                </article>
                <!-- Datos Academicos -->
                <section class="wrapper DatosAcad">
                    <h3>Datos Academicos</h3>
                    <div class="form">
                        <label for="grado">Grado</label>
                        {{ form.grado }}
                    </div>
                    <div class="form">
                        <label for="seccion">Seccion</label>
                        {{ form.seccion }}
                    </div>
                    <div class="form">
                        <label for="Representantes">Cedula del Representante</label>
                        {{ form.Rep }}
                    </div>
                </section>
                <!-- Datos Personales & Medidas de ropa -->
                <section class="wrapper">
                    <article class="Wleft">
                        <h3>Datos Personales</h3>
                        <div class="form">
                            <label for="{{ form.fecha_nac.id_for_label }}">Fecha de Nac: </label>
                            <input id="{{ form.fecha_nac.id_for_label }}" type="date" name="{{ form.fecha_nac.name }}">
                        </div>
                        <div class="form">
                            <label for="cedula">Cedula</label>
                            {{ form.cedula }}
                        </div>
                        <div class="form">
                            <label for="edad">Edad</label>
                            {{ form.edad }}
                        </div>
                    </article>
                    <article class="Wright hidden">
                        <h3>Medidas</h3>
                        <article class="tallasEst">
                            <div class="form">
                                <label for="altura">Altura</label>
                                {{ form.altura }}
                            </div>
                            <div class="form">
                                <label for="peso">Peso</label>
                                {{ form.peso }}
                            </div>
                        </article>
                        <article class="tallasEst">
                            <div class="form">
                                <label for="talla_camisa">Talla Camisa</label>
                                {{ form.talla_camisa }}
                            </div>
                            <div class="form">
                                <label for="talla_pantalon">Talla Pantalón</label>
                                {{ form.talla_pantalon }}
                            </div>
                            <div class="form">
                                <label for="talla_zapato">Talla Zapato</label>
                                {{ form.talla_zapato }}
                            </div>
                        </article>
                    </article>
                </section>
            </section>
            <section class="button_form wrapper ">
                <div id="butSig" class="btnG button_1">Siguiente</div>
                <button class='SigButton hidden' type="submit" value="Registrar" onclick="buttonVerEstuRepr()">Registrar</button>
            </section>
        </form>
    </section>
</section>

{% endblock content %}