{% extends "Institucion/base.html" %}
{% load static %}
{% load mathfilters %}
{% load concat_Materia %}
{% load concat_Especialidades %}
{% block content %}

<section class="title">
    <h1>Consulta del Personal Docente</h1>
</section>
<section class="container">
    <section class="row_1">
        <section class="_princ_ conform">
            <article>
                <form class="form" action="" method="post">{% csrf_token %}
                    <input class="form" type="text" name="buscar_cedula" value="" placeholder="Cédula">
                    <input  type="submit" value="Consultar">
                </form>
            </article>
            <article class="data">
                    <h2 class="title">Listado del Personal Docente</h2>
                        
            {%if Filtro == 'noMatch'%}
                <p>NO HAY RESULTADOS</p>
            {% endif %}


            {%if Filtro != 'noMatch'%}  
                    
                    {% for PD in PD %}        
                    <section class="prueba">
                            <article class="photo">
                                <img src="{{ PD.foto.url }}">
                            </article>
                            <article>
                                <div class="name">
                                    <span>
                                        {{PD.nombres}}
                                        {{PD.apellidos}}
                                    </span>
                                </div>
                                <div class="DataSecond fontSecond">
                                    <span>Cédula: {{PD.cedula}}</span>
                                    <span>Materia: 
                                        {{ PD.materia|concat_Materia }} 
                                    </span>
                                    <span>Especialidad: 
                                        {{ PD.especialidades|concat_Especialidades }} 
                                    </span>
                                </div>
                            </article>
                            <article class="fontSecond">
                                <div class="options">
                                    <span>
                                        <a href="{% url 'Ver_PD' PD.id %}">
                                            <div class="imgOptions look"></div>
                                        </a>
                                    </span>
                                </div>
                                <div>
                                    <div>
                                        <span>Teléfono:</span>
                                    </div>
                                    <div>
                                        <ul>
                                            <li>{{ PD.teln_Casa }}</li>
                                            <li>{{ PD.teln_movil }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                    </section>
                        {% endfor %}
                </article>
            {% endif %}   
        </section>
    </section>
    <aside class="aside row_2">
        <h3 class="title">Filtros de Búsqueda</h3>
        <ul class="filter">
            <li><a href="{% url 'C_nombres_pd' %}"  >Nombre</a></li>
            <li><a href="{% url 'C_apellidos_pd' %}">Apellido</a></li>
            <li><a href="{% url 'C_cedula_pd' %}"   >Cédula</a></li>
            <li><a href="{% url 'C_materia_pd' %}"  >Materia</a></li>
            <li><a href="{% url 'C_especialidades_pd' %}"  >Especialidad</a></li>
        </ul>
    </aside>
</section>

{% endblock content %}