{% extends "Institucion/base.html" %}
{% load static %}

{% block content %}

<section class="title">
    <h1>Consulta del Personal Docente</h1>
</section>
<section class="container">
    <section class="row_1">
        <section class="_princ_ conform">
            <article>
                <form class="form" action="" method="post">{% csrf_token %}
                    <input  type="text" name="buscar_nombres" value="" placeholder="Nombres">
                    <input  type="submit" value="Consultar">
                </form>
            </article>
            <article class="data">
                <h2 class="title">Listado del Personal Docente</h2>
                    {% for PD in PD %}        
                <section class="prueba">
                        <article class="photo">
                            <img src="{{ PD.foto.url }}">
                        </article>
                        <article>
                            <div class="name">
                                <span>
                                    {{PD.nombres}}
                                    {{PD.apellidos}}
                                </span>
                            </div>
                            <div class="DataSecond fontSecond">
                                <span>Cédula: {{PD.cedula}}</span>
                                <span>Materia: {{PD.materia}}</span>
                            </div>
                        </article>
                        <article class="fontSecond">
                            <div class="options">
                                <span>
                                    <a href="{% url 'Actualizar_PD' PD.id %}">
                                        <div class="imgOptions update"></div>
                                    </a>
                                </span>
                                <span>
                                    <a href="{% url 'Ver_PD' PD.id %}">
                                        <div class="imgOptions look"></div>
                                    </a>
                                </span>
                                <span>
                                    <a href="{% url 'Eliminar_PD' PD.id %}">
                                        <div class="imgOptions delete"></div>
                                    </a>
                                </span>
                            </div>
                            <div>
                                <div>
                                    <span>Teléfono:</span>
                                </div>
                                <div>
                                    <ul>
                                        <li>{{ PD.teln_Casa }}</li>
                                        <li>{{ PD.teln_movil }}</li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                </section>
                    {% endfor %}
            </article>
            <!-- {% if "Buscar" in request.POST%}

                <h2 class="title">Resultados de la Busqueda</h2>

                <table>

                    <thead>

                        <tr>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Cedula</th>
                            <th>Materia</th>
                            <th>Opciones</th>
                        </tr>

                    </thead>   

                    <tbody>

                        {% for PD in PD %}

                            <tr>
                                <td>{{PD.nombres}}</td>
                                <td>{{PD.apellidos}}</td>
                                <td>{{PD.cedula}}</td>
                                <td>{{PD.materia}}</td>
                                <td><a href="{% url 'Actualizar_PD' PD.id %}"><bottun>Actualizar</bottun></a><a href="{% url 'Eliminar_PD' PD.id %}"><bottun>Eliminar</bottun></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>  
                </table>
            {% endif %} -->
        </section>
    <!-- <div class="wrapper">
        <h2 class="title">Listado del Personal Docente</h2>
        <div class="table">
            <table>

                <thead>

                    <tr>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Cedula</th>
                        <th>Materia</th>
                        <th style="border-right: none;">Opciones</th>
                    </tr>

                </thead>  
                <tbody class="tbody">

                    {% for PD in PD %}

                        <tr class="lol_2">
                            <td class="lol">{{PD.nombres}}</td>
                            <td class="lol">{{PD.apellidos}}</td>
                            <td class="lol">{{PD.cedula}}</td>
                            <td class="lol">{{PD.materia}}</td>
                            <td class="lol olo">
                                <a href="{% url 'Actualizar_PD' PD.id %}">
                                    <div class="icon_act">A</div>
                                </a>
                                <a href="{% url 'Eliminar_PD' PD.id %}">
                                    <div class="icon_elim">E</div>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>  
            </table>
        </div>
        <aside class="aside">

          <blockquote>

            <h3>Filtros de Busqueda</h3>

            <ol class="filter">
                <li><a href="{% url 'C_nombres_pd' %}" >Por Nombre</a></li>
                <li><a href="{% url 'C_apellidos_pd' %}" >Por Apellido</a></li>
                <li><a href="{% url 'C_cedula_pd' %}" >Por Cedula</a></li>
                <li><a href="{% url 'C_materia_pd' %}" >Por Materia que imparte</a></li>
            </ol>

          </blockquote>

        </aside>

        </div> -->
    </section>
    <aside class="aside row_2">
        <h3 class="title">Filtros de Búsqueda</h3>
        <ul class="filter">
            <li><a href="{% url 'C_nombres_pd' %}"  >Nombre</a></li>
            <li><a href="{% url 'C_apellidos_pd' %}">Apellido</a></li>
            <li><a href="{% url 'C_cedula_pd' %}"   >Cédula</a></li>
            <li><a href="{% url 'C_materia_pd' %}"  >Materia</a></li>
        </ul>
    </aside>
</section>



{% endblock content %}